<div class="gallery">
    <div class="flexslider">
        <div class="slides-control">
          <a href="#" class="prev">
            <
          </a>
          <span class="current_pos">1</span>
          <span class="total">25</span>
          <a href="#" class="next">
            >
          </a>
        </div>
				<ul class="slides">
					<li><img src="img/personal_neu/oliverblohm_01.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_02.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_03.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_04.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_05.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_06.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_07.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_08.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_09.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_10.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_11.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_12.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_13.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_14.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_15.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_16.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_17.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_18.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_19.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_20.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_21.jpg" alt="all rights reserved by oliver blohm"></li>
					<li><img src="img/personal_neu/oliverblohm_22.jpg" alt="all rights reserved by oliver blohm"></li>
                    <li><img src="img/personal_neu/oliverblohm_23.jpg" alt="all rights reserved by oliver blohm"></li>
				</ul>
			</div>
		</div>
<div ng-include="'views/bottom_line.html'"></div>

