<div id="requests-content">
    <h2>LIST OF REQUESTS</h2>
    <ul>
        <li ng-repeat="request in requests">
            <a href ng-click="deleteItem($index)">x DELETE FROM LIST</a>
            <img ng-src="{{request.image}}"/>
            <div>
                <h2 ng-bind="request.title"></h2>
                <p ng-bind="request.description"></p>
                <p>---</p>
                <p class="price" ng-bind="request.price"></p>
            </div>
        </li>
    </ul>
    <p>PLEASE LEAVE A MESSAGE<br>I WILL CONTACT YOU AS SOON AS POSSIBLE TO TALK ABOUT YOUR REQUEST!</p>
    <form action="" method="get" accept-charset="utf-8">
        <div><p>NAME<span class="slash">/</span></p><input ng-model="name" type="text" id="name" name="name" required/></div>
        <div><p>MAIL<span class="slash">/</span></p><input ng-model="email" type="email" id="email" name="email" required/></div>
        <div><p>MESSAGE<span class="slash">/</span></p><textarea ng-model="message" rows="4" id="message" name="message" required></textarea></div>

        <p><button ng-click="sendRequest()">SEND REQUEST</button></p>
    </form>

</div>
<div id="sent-overlay" ng-show="showOverlay">
    <div>
        <p>YOUR REQUEST HAS BEEN SENT<br>------------------</p>
        <p>I WILL CONTACT YOU AS SOON AS POSSIBLE TO TALK ABOUT YOUR REQUEST!</p>
        <p>YOURS,<br>OLIVER BLOHM</p>
    </div>
</div>
