<div class="acquire-detail-container">
    <img ng-src="{{image}}" alt="all rights reserved by oliver blohm" id="acquire-detail-image"/>
    <div id="acquire-detail-text">
        <h2 ng-bind="title"></h2>
        <p ng-bind="description"></p>
        <ul>
            <li ng-repeat="option in requestOptions">
                <p class="title" ng-bind="option.title"></p>
                <p>--------------------</p>
                <p ng-bind="option.description"></p>
                <p>---</p>
                <p class="price" ng-bind="option.price"></p>
                <p>---</p>
                <a href ng-click="addRequest(id, $index)">zur bestellanfrage hinzufügen</a>
            </li>
        </ul>
    </div>
</div>

<div id="added-overlay" ng-show="showOverlay">
    <div>
        <img ng-src="{{image}}" alt="all rights reserved by oliver blohm" />
        <div>
            <p class="title" ng-bind="title"></p>
            <p ng-bind="chosen"></p>
            <p class="title">bild wurde zur bestellanfrage hinzugefügt</p>
        </div>
    </div>
</div>

<div ng-include="'views/bottom_line.html'"></div>
