<div id="requests-content">
    <h2>BESTELLANFRAGEN</h2>
    <ul>
        <li ng-repeat="request in requests">
            <a href ng-click="deleteItem($index)">x anfrage löschen</a>
            <img ng-src="{{request.image}}"/>
            <div>
                <h2 ng-bind="request.title"></h2>
                <p ng-bind-html="request.description"></p>
                <p>---</p>
                <p class="price" ng-bind="request.price"></p>
            </div>
        </li>
    </ul>
    <p>ich werde mich schnellstmöglich bei ihnen melden.</p>
    <form method="get" accept-charset="utf-8" name="requestForm" novalidate>
        <div><p>NAME<span class="slash">/</span></p><input ng-class="{error: showValidation && requestForm.name.$invalid}" ng-model="name" type="text" id="name" name="name" required/></div>
        <div><p>E-MAIL<span class="slash">/</span></p><input ng-class="{error: showValidation && requestForm.email.$invalid}" ng-model="email" type="email" id="email" name="email" required/></div>
        <div><p>NACHRICHT<span class="slash">/</span></p><textarea ng-model="message" rows="4" id="message" name="message"></textarea></div>

        <p><button ng-click="sendRequest()">ANFRAGE SENDEN</BUTTON></P>
    </form>

</div>
<div class="sent-overlay" ng-show="showSuccess" ng-cloak>
    <div>
        <p>ANFRAGE VERSENDET<br>------------------</p>
        <p>ICH WERDE MICH SO SCHNELL WIE MÖGLICH BEI IHNEN MELDEN.</p>
        <p>IHR,<br>OLIVER BLOHM</p>
    </div>
</div>
<div class="sent-overlay" ng-show="showError" ng-cloak>
    <div>
        <p>ES GAB EINEN FELHER<br>------------------</p>
        <p>DIE E-MAIL KONNTE NICHT GESENDET WERDEN. BITTE KONTAKTIERE MICH DIREKT</p>
        <p>IHR,<br>OLIVER BLOHM</p>
    </div>
</div>

<div ng-include="'views/bottom_line.html'"></div>
